/*Global*/
@import url(./global/global.css);

/*home*/
@import url(./home/introduction.css);
@import url(./home/about.css);

/*Utilies*/
@import url(./utilies/color.css);
@import url(./utilies/typography.css);
