.about-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1050px;
  padding: 40px 20px 40px 20px;
}
.about-container h2 {
  margin-bottom: 40px;
}
.about-content-details {
  display: flex;
  flex-flow: row;
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 25px;
}
.about-content-details:nth-child(4) {
  margin-bottom: 35px;
}
.about-content-details h3 {
  word-break: break-all;
}
.about-content-details span {
  display: block;
  position: relative;
}
.about-content-details span::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  width: 35px;
  right: -35px;
  height: 35px;
  background-image: url(../../icons/group_24dp_00000_FILL0_wght300_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/*About Responsive*/

@media (max-width: 590px) {
  .about-content-details {
    gap: 25px;
  }
}
@media (max-width: 560px) {
  .about-content-details span::before {
    width: 25px;
    right: -25px;
    height: 25px;
  }
}
@media (max-width: 430px) {
  .about-content-details span::before {
    top: -55px;
    width: 20px;
    left: 80px;
    height: 20px;
  }
  .about-content-details {
    flex-flow: column;
    gap: 5px;
    margin-bottom: 25px;
  }
}
