.comporative-bg {
  background-color: var(--co-4);
  height: auto;
  padding-bottom: 20px;
  border-radius: 100% 100% 0% 0% / 48% 46% 0% 0%;
}
.comporative-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1050px;
  padding: 10px 20px 10px 20px;
  padding-top: 200px;
}
.comporative-container h2 {
  text-align: center;
  margin-bottom: 2px;
  position: relative;
}
.comporative-container h2::before {
  content: "";
  position: absolute;
  background-color: var(--co-5);
  height: 2px;
  width: 400px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.comporative-container h3 {
  margin-bottom: 45px;
}
.comporative-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
.comporative-content-extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
}
.comporative-content-extra span {
  margin-bottom: auto;
  padding-bottom: 10px;
}
.column1,
.column2,
.column3,
.column4,
.column5,
.column6,
.column7,
.column8 {
  background-color: var(--co-0);
  border-radius: 5px;
  width: 50px;
}
.column1 {
  height: 80%;
}
.column2 {
  height: 55%;
}
.column3 {
  height: 30%;
}
.column4 {
  height: 70%;
}
.column5 {
  height: 40%;
}
.column6 {
  height: 50%;
}
.column7 {
  height: 30%;
}
.column8 {
  height: 15%;
}
.comporative-content-extra h4 {
  position: relative;
}
.comporative-content-extra h4::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -45px;
  width: 35px;
  right: 0px;
  height: 35px;
  background-image: url(../../icons/paid_24dp_00000_FILL0_wght300_GRAD0_opsz24.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.comporative-content-extra:nth-child(2) h4::before,
.comporative-content-extra:nth-child(3) h4::before,
.comporative-content-extra:nth-child(7) h4::before {
  right: 7px;
}
.comporative-content-extra:nth-child(7) h4::before,
.comporative-content-extra:nth-child(5) h4::before {
  right: 4px;
}

/*Comparative Responsive*/

@media (max-width: 740px) {
  .column1,
  .column2,
  .column3,
  .column4,
  .column5,
  .column6,
  .column7,
  .column8 {
    background-color: var(--co-0);
    border-radius: 5px;
    width: 40px;
  }
  .comporative-content-extra:nth-child(2) h4::before,
  .comporative-content-extra:nth-child(3) h4::before,
  .comporative-content-extra:nth-child(7) h4::before {
    right: 4px;
  }
  .comporative-content-extra:nth-child(7) h4::before,
  .comporative-content-extra:nth-child(5) h4::before {
    right: 2px;
  }
  .comporative-content-extra h4::before {
    right: -2px;
  }
  .comporative-content {
    gap: 5px;
  }
}
@media (max-width: 560px) {
  .comporative-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .comporative-container h2::before {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .comporative-container h2::before {
    width: 150px;
  }
}
