.footer-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1050px;
  padding: 10px 20px 10px 20px;
  padding-top: 25px;
}
.footer-container img {
  width: 55px;
  margin-bottom: 20px;
}
.footer-container p {
  text-align: center;
}
.footer-container p:nth-of-type(1) {
  border-bottom: 1px solid var(--co-1);
  padding: 0px 60px 20px 60px;
}
.footer-container p:nth-of-type(2) {
  padding-top: 20px;
}
