@font-face {
  font-family: "The Seasons";
  src: url("../../fonts/Fontspring-DEMO-theseasons-bd.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "The Seasons";
  src: url("../../fonts/Fontspring-DEMO-theseasons-it.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "The Seasons";
  src: url("../../fonts/Fontspring-DEMO-theseasons-lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "The Seasons";
  src: url("../../fonts/Fontspring-DEMO-theseasons-ltit.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "The Seasons";
  src: url("../../fonts/Fontspring-DEMO-theseasons-bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "The Seasons";
  src: url("../../fonts/Fontspring-DEMO-theseasons-bdit.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
