:root {
  --co-0: #ffffff;
  --co-1: #a6a6a6;
  --co-2: #d9d9d9;
  --co-3: #ffc2c2;
  --co-4: #00687a;
  --co-5: #000000;
}

.co-0 {
  color: var(--co-0);
}
.co-1 {
  color: var(--co-1);
}
.co-2 {
  color: var(--co-2);
}
.co-3 {
  color: var(--co-3);
}
.co-4 {
  color: var(--co-4);
}
.co-5 {
  color: var(--co-5);
}
