.font-1-m {
  font: 500 3.2rem/1.35 "The Seasons", serif;
  letter-spacing: -2px;
}
.font-2-m {
  font: 400 2rem/1.35 "The Seasons", serif;
  letter-spacing: -2px;
}
@media (max-width: 810px) {
  .font-1-m {
    font-size: 2.7rem;
  }
  .font-2-m {
    font-size: 1.8rem;
  }
}
@media (max-width: 660px) {
  .font-1-m {
    font-size: 2.3rem;
  }
}
@media (max-width: 560px) {
  .font-1-m {
    font-size: 2rem;
  }
  .font-2-m {
    font-size: 1.4rem;
  }
}
@media (max-width: 370px) {
  .font-1-m {
    font-size: 1.7rem;
  }
  .font-2-m {
    font-size: 1.2rem;
  }
}
